main{
  background-color: var(--highlight);
  width: 50%;
  display: grid;
  place-items: center;
  border-radius: 15px;
  padding: 10rem 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}